* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #E5316F;
}

.description {
    margin-top: 50px;
}

.container {
    width: 80%;
    margin: auto;
}

.col {
    float: left;
    width: calc(100% / 3);
    text-align: center;
    padding: 10px 20px;
}

.card {
    background-color: black;
    color: white;
}



.col img {
    height: 100px;
}

.card img {
    float: left;
}
















